<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.to_s.downcase %> from being saved:</h4>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
