* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3778c2;
  --secondary-color: #5fb523;
  --dark-color: #434b54;
}

.background-color-primary {
  background-color: var(--primary-color);
}

.custom-border {
  border: 1px solid #fff;
  margin: 0;
  margin-left: 2.6rem;
}
