<div class="background-light-dark">
  <%= render 'transactions_list_navbar' %>
  
  <%= render 'category_info' %>

  <div class="fixed-bottom p-3 border background-color-secondary">
    <%= link_to "Add a new transaction", new_category_transaction_path(@category), class: 'btn background-color-secondary text-light text-uppercase border w-100 p-3 fw-bold' %>
  </div>
</div>
